/*------------Corps du Site------------*/
body
{
    position: relative;
	margin: 0px;
    height: 1600px;
}
/*------------Menu du site---------*/

/*------------LOGO------------*/

#logo{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 52px;
    background: #d5cea6;
    width: 159px;
}
#logo *{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 52px;
}
#logo a{
    width: 155px;
    list-style : none;
    color: black;
}
#logo a:link{
    text-decoration: none;
    font-family: LearningCurve;
}
#logo a h1{
    margin-left: 2px;
    color: #000;
}

/*-------MENU--------*/

/*====Menu ordinateur====*/
#menu, #menu ul{       
        z-index: 1;
        position: fixed;
        padding : 0px;  /* marge intérieure */
        margin : 0px;    /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 50px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}
#menu{
        font-weight : bold;
        font-family : FFF,LearningCurve,Arial;
        font-size : 33px;
        right: 0px;
        left: 150px;
}
#menu a{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0px; /* aucune marge intérieure */
        background : #d5cea6; /* couleur de fond */        
        color : #000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 100%; /* largeur */
}
#menu li{ 
        float : right;
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #000; /* on met une bordure blanche à droite de chaque élément */
        width: 24.75%;
}
html>body #menu li{
        border: 1px solid #000 ; /* on met une bordure transparente à droite de chaque élément */
}
#menu li ul{ 
        position: absolute; /* Position absolue */
        width: 24.75%; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
        padding-left: 1px;
        line-height: 35px;
}
#menu li ul li{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
    border-top : 1px solid #000; /* on met une bordure blanche en haut de chaque élément d'un sous liste */
    width: 100%;
    border-top : 1px solid #000; /* on met une bordure transparente en haut de chaque élément */
        
}
#menu a:hover{
        color: #000; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

/*====Menu tablette====*/
#menuportable, #menuportable ul{       
        z-index: 1;
        position: fixed;
        padding : 0px;  /* marge intérieure */
        margin : 0px;    /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 50px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
        font-weight : bold;
        font-family : FFF,LearningCurve,Arial;
        font-size : 33px;
        left: 150px;
        right: 0px;
}
#menuportable a{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0px; /* aucune marge intérieure */
        background : #d5cea6; /* couleur de fond */        
        color : #000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 100%; /* largeur */
}
#menuportable li{
        float : right;
        /* pour IE qui ne reconnaît pas "transparent" */
        width: 100%;
        border: 1px solid #000;
}
#menuportable li ul{ 
        position: absolute; /* Position absolue */
        width: 100%; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
        padding-left: 1px;
        line-height: 25px;
}
#menuportable li ul li{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #000; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
    width: 100%;
}
#menuportable a:hover{
        color: #000; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}
#menuportable li:hover ul, #menuportable li li:hover ul, #menuportable li.sfhover ul, #menuportable li li.sfhover ul{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

/*=====Menu Jeux======*/
#menujeux{
    z-index: 1;
    position:fixed;
    top: 52px;
    margin: 0px;
    padding: 0px;
    bottom: 78px;
    overflow: hidden;
    width: 139px;
    border-top : 1px solid #000;
    border-bottom : 1px solid #000;
}
#jeux{
    z-index: 1;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    width: 112.5%;
    height: 103%;
}
#jeux *{
    margin: 0px;
    padding: 0px;
}
#jeux li a{
    display: block;
    width: 137px;
    height: 50px;
    background : #d5cea6;
    color: black;
    border : 1px solid #000;
}
#jeux li a h2{
    display: inline-block;
    text-align: center;
    width: 87px;
    font-family: LifeSavers;
    font-size: 17px;
    vertical-align: super;
}
.logojeux{
    height: 50px;
    width: 50px;
    right: 0px;
}
#jeux li a:hover{
        color: #000; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}
/*----------- Pied de page ----------*/
footer {
    width: 100%;
    position: absolute;
    background-image: url(images/footer.jpg);
    height: 80px;
    bottom: 0px;
}
#reseaux{
    position: absolute;
    display: flex;
    width: 250px;
    right: 0px;
}
.social img{
    width: 50px;
}
.social{
    margin-left: 10px;
    margin-top: 13px;
}
.youtube{
    margin-top: 10px
}

.footerbuttons h4{
    position: absolute;
    display: block;
    left: 5px;
    bottom: 0px;
    width: 400px;
    font-size: 50px;
    color:blanchedalmond;
    height: 50px;
    margin: 10px;
    font-family: FFF;
}
/*-------nouvelle police ---------*/
@font-face {
    font-family: "LearningCurve";
    src: url('polices/AlexBrush-Regular.ttf');
}
@font-face {
    font-family: "FFF";
    src: url("polices/FFF_Tusj.ttf");
}
@font-face {
    font-family: "LifeSavers";
    src: url('polices/LifeSavers-Regular.ttf');
}
/*--------Condition de responsive Websites---------*/
/*Mode ordinateur*/
@media all and (min-width: 992px)
{
    #menuportable /* Sous-listes */
    { 
        display: none;
    }

}
/* condition telephone */
@media all and (max-width: 767px)
{
    #menu /* Sous-listes */
    { 
        display: none;
    }
    #menuportable ul{
        font-size: 17px;
    }
    #menujeux{
    display: none;   
}
}
/* condition tablette */
@media all and (max-width: 991px) and  (min-width: 768px)
{
#menu /* Sous-listes */
{ 
        display: none;
}
    #menujeux{
        width: 53px;
    }
    #jeux li a{
        width: 97.3%;
    }
    #jeux{
        width: 130%;
    }
#jeux li a h2{
    display: none;   
}
}
/*affichage nom footer*/
@media all and (max-width: 610px)
{
.footerbuttons h4{
        display:none;
    }
}